* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Minecraft';
    src: url(../fonte/Minecraftia-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'Minecraft-1';
    src: url(../fonte/Minecrafter.Reg.ttf) format('truetype');
}
body {
    margin: 0;
    font-family: 'Minecraft-1', sans-serif;
    background-color:rgb(18, 83, 13);
    margin-bottom: 15px;
}
#div-0{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    padding: 0;
}
#div-1{
    text-align: left;
    padding: 50px;
    background-color: rgb(0, 53, 4);
    height: 200px;

}
h1{
    color: #ffffff;
}
h2{
    color: rgb(255, 255, 255);
    font-family: 'Minecraft';

}

.link{
    color: rgb(18, 83, 13);
}
.link:hover{
    color: white;
}
img {
    height: 200px;
    width:300px;
}
#card-jose{
    width: 300px;
    padding: 10px;
}
#card-lucas{
    width: 300px;
    padding: 10px;
}
#card-pedro{
    width: 300px;
    padding: 10px;
}
nav{
    height: 100px;
    display: flex;
    justify-content: center;
}
#barra-de-progresso{
  text-align: center;
  margin: 25px;
  padding: 25px;
  background-color: rgb(166, 255, 0);
  border-radius: 20px;
}
#mapa-body {
    width: 1920px;
    height:1120px;
}
#background {
    display:flex;
    justify-content: center;
    padding:200px;
    margin:100px;
    background-image: url(../favicon/mapa\ 8\ bit.webp);
    background-size: 1920px;
    background-repeat: no-repeat;
    height: 1080px;
}
#ponto1 {
    position:absolute;
    left:650px;
    top:525px;

}
#ponto2 {
    position:absolute;
    right: 850px;
    top: 800px;
    size: 100px;

}
#ponto3 {
    position:absolute;
    right: 500px;
    top:1000px;

}
#ponto4 {
    position:absolute;
    bottom:350px;
    right:435px;
}
#retornar {
    position:absolute;
    top: 200px;
    color:white;
}
#retornar:hover {
    color:green;
}