* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Minecraft';
    src: url(../fonte/Minecraftia-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: 'Minecraft', sans-serif;
    background-color: #669b49;
    margin-bottom: 15px;
}
#div-0{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    padding: 0;
}
.h-white{
    color: white;

}
#nav-cards{
    text-align: left;
    padding: 50px;
}
#bloco-de-tnt{
    width: 15rem;
 
}
